body{
	background-color: #eeeeee5c;
}

input
{
	background-color: #fff0 !important;
}

.form-control
{
	border: 0px solid #ced4da;
	font-family: 'Montserrat', sans-serif;
}

.form-control:focus
{
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
    border-bottom: 1px solid #49505766 !important;
}